*{
	box-sizing:border-box;
    margin: 0;
}

body{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

section{
	padding: 2em;
	width:100%;
	max-width:40em;
	margin: 0 auto;
}

#nav{
	background: #000;
    padding: 1em;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	max-width:initial;
}

#nav a{
	color: #fff;
    text-decoration: none;
    padding: 0.5em;
}

#nav a:hover{
	color: #999;
	background: rgba(255, 255, 255, 0.14);
}

#start{
	display:block;
}

#best{
	display:none;
}